.center{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 20;
    height: 100vh;
    overflow: hidden;
}
.intro{
    position: relative;
    z-index: 20;
}
.title{
    font-size: 4.5rem;
    line-height: 1;
    font-weight: bold;
    letter-spacing: -.025em;
    color:#fff;
}
.title-des{
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    margin-top: .75rem;
    color: hsla(0, 0%, 100%, .5);
}
.bg{
    object-fit: fill;
    width: 100%;
    z-index: 0;
    position:absolute;
    inset: 0;
    height: auto;
    max-width: 100%;
    display: block;
}
.links{
    display:flex;
    margin-top: .75rem;
    align-items: center;
    justify-content: center;
    gap: .75rem;
}
.link-img{
    opacity:.5;
    width: 1.25rem;
    height: 1.25rem;
    max-width: 100%;
    display: block;
    transition: .15s opacity cubic-bezier(.4,0,.2,1);
}
.link-img:hover{
     opacity: .75;  
}