.repos-container {
  padding: 20px;
  min-height: 100vh;
}
.repos-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  margin-top: 50px;
}
.repos-title {
  text-align: center;
  font-size: 5rem;
  color: #fff;
  opacity: 0.5;
  cursor: default;
  user-select: none;
}
.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 300px;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
  transition: box-shadow 0.3s, border-color 0.3s;
  background-color: rgba(116, 116, 116, 0.079);
  backdrop-filter: blur(10px);
}
.card-title {
  font-size: 2em;
  margin-bottom: 8px;
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
  cursor: default;
  user-select: none;
}
.card-description {
  font-size: 1.5em;
  color: #fff;
  opacity: 0.7;
  min-height: 60px;
  cursor: default;
  user-select: none;
  transition: opacity 0.3s;
  margin-bottom: 12px;
}
.card-description:hover {
  opacity: 1;
}
.card-link {
  display: inline-block;
  margin-top: 12px;
  color: #fff;
  text-decoration: none;
  opacity: 0.7;
  transition: color 0.3s, opacity 0.3s, letter-spacing 0.3s, border-bottom 0.3s;
  letter-spacing: 0.05px;
  font-size: 1.2em;
  font-weight: 500;
  padding-bottom: 2px;
  cursor: pointer;
}
.card:hover {
  box-shadow: 0 4px 10px rgba(0, 122, 204, 0.5);
  border-color: #007acc;
}
.card-link:hover {
  color: #007acc;
  opacity: 1;
  letter-spacing: 0.09px;
  text-decoration: none;
  cursor: pointer;
}
