.repos-container {
  height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 12.5%;
  cursor: default;
  gap: 32px;
  margin-top: 96px;
}
/**/
.repos-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 50px;
  width: 100%;
  max-width: 1200px;
  flex-direction: row;
}
.repos-title {
  font-size: 2rem;
  color: #fff;
  opacity: 0.4;
  user-select: none;
  text-align: left;
  width: 100%;
  font-weight: 500;
  text-transform: uppercase;
}
.card {
  background-color: #0e0e11;
  border-radius: 9px;
  padding: 32px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px; /* Changed from 525px */
  min-width: 250px;
  transition: all 0.3s ease;
  border: 0.5px solid #494959;
}
.card-title {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff66;
  transition: all 0.3s ease;
}
.card-description {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #ffffff80;
  padding-top: 36px;
  transition: all 0.3s ease;
}

.card-arrow {
  width: 10px;
  height: 10px;
  margin-top: 12px;
  transform: translateX(0px);
  color: white;
  align-self: flex-end;
  transition: all 0.3s ease;
  padding: 5px;
  background: #ffffff33;
  border-radius: 8px;
  padding: 10px;
  user-select: none;
}
.card:hover .card-arrow {
  transform: translateX(5px);
  box-shadow: 0 0 8px #ffffff33;
}
.card:hover .card-title {
  color: #ffffff;
}
.card:hover .card-description {
  color: #ffffff;
}
.card:hover {
  box-shadow: 0 0 8px #00000033;
  transform: translateY(-4px);
  border: 0.5px solid #575769;
}
